<%= apipie_dsl_menu %>
<ul class='breadcrumb'>
  <li>
    <a href='<%= @doc[:doc_url] %><%= section_ext(@section) %><%= @doc[:link_extension] %>'><%= @doc[:name] %> <%= @klass[:version] %></a>
    <span class='divider'>/</span>
  </li>
  <li class='active'>
    <%= @klass[:name] %>
  </li>
  <%= render(partial: 'languages', locals: { doc_url: @klass[:doc_url] }) %>
</ul>

<div class='page-header'>
  <h1>
    <%= @klass[:name] %>
    <% if @klass[:deprecated] %>
        <code>DEPRECATED</code>
    <% end %>
    <br>
    <small><%= raw @klass[:short_description] %></small>
  </h1>
</div>

<% unless @klass[:full_description].blank? %>
  <div><%= raw @klass[:full_description] %></div>
<% end %>

<% unless @klass[:metadata].blank? %>
  <h2>Metadata</h2>
  <%= render(:partial => 'metadata', :locals => {:meta => @klass[:metadata]}) %>
<% end %>

<% unless @klass[:properties].empty? %>
  <table class='table'>
    <thead>
      <tr>
        <th><%= t('apipie_dsl.property') %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'property', collection: @klass[:properties], as: :prop %>
    </tbody>
  </table>
<% end %>

<% unless @klass[:methods].empty? %>
  <table class='table'>
    <thead>
      <tr>
        <th><%= t('apipie_dsl.method') %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'method', collection: @klass[:methods], as: :meth, locals: { link_extension: @doc[:link_extension] } %>
    </tbody>
  </table>
<% end %>

<% unless content_for(:apipie_dsl_footer) == @doc[:copyright] %>
  <%= content_for :apipie_dsl_footer, raw(@doc[:copyright]) %>
<% end %>
