<ul class='breadcrumb'>
  <% dsl_sections.each do |section| %>
    <% if section == @section %>
      <li class='active'><a href='<%= @doc[:doc_url] %><%= section_ext(section) %><%= @doc[:link_extension] %>'><%= t("apipie_dsl.#{@section}") %></a></li>
    <% else %>
      <li><a href='<%= @doc[:doc_url] %><%= section_ext(section) %><%= @doc[:link_extension] %>'><%= t("apipie_dsl.#{section}") %></a></li>
    <% end %>
  <% end %>
  <% unless ApipieDSL.configuration.help_layout.nil? %>
    <li class='pull-right'>
      <% section = 'help' %>
      <a href='<%= @doc[:doc_url] %><%= section_ext(section) %><%= @doc[:link_extension] %>'><%= t("apipie_dsl.#{section}") %></a>
    </li>
  <% end %>
</ul>
<ul class='breadcrumb'>
  <li class='active'><a href='<%= @doc[:doc_url] %><%= section_ext(@section) %><%= @doc[:link_extension] %>'><%= @doc[:name] %> <%= current_version(@doc[:classes]) %></a></li>
  <%= render(partial: 'languages', locals: { doc_url: @doc[:doc_url] + section_ext(@section) }) %>
  <% if @versions && @versions.size > 1 %>
  <li class='pull-right'>
    <%= @versions.collect { |v| link_to v, ApipieDSL.full_url(v+@doc[:link_extension]) }.join(' / ').html_safe %>
  </li>
  <% end %>
</ul>

<div><%= raw @doc[:info] %></div>

<h1 class='page-header'><%= t('apipie_dsl.classes') %></h1>

<% @doc[:classes].each_value do |klass| %>
  <% next unless klass[:show] && in_section?(@section, klass[:id]) %>
  <h2>
    <a href='<%= klass[:doc_url] %><%= @doc[:link_extension] %>'>
      <%= klass[:name] %>
    </a>
    <% if klass[:deprecated] %>
        <code>DEPRECATED</code>
    <% end %>
    <br>
    <small><%= klass[:short_description] %></small>
  </h2>
  <% unless klass[:properties].empty? %>
    <table class='table'>
      <thead>
        <tr>
          <th><%= t('apipie_dsl.property') %></th>
          <th><%= t('apipie_dsl.description') %></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'index_class_prop', collection: klass[:properties], as: :prop, locals: { link_extension: @doc[:link_extension], doc_url: klass[:doc_url] } %>
      </tbody>
    </table>
  <% end %>
  <% unless klass[:methods].empty? %>
    <table class='table'>
      <thead>
        <tr>
          <th><%= t('apipie_dsl.method') %></th>
          <th><%= t('apipie_dsl.description') %></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'index_class_meth', collection: klass[:methods], as: :meth, locals: { link_extension: @doc[:link_extension] } %>
      </tbody>
    </table>
  <% end %>
<% end %>

<% unless content_for(:apipie_dsl_footer) == @doc[:copyright] %>
  <%= content_for :apipie_dsl_footer, raw(@doc[:copyright]) %>
<% end %>
