<% @doc[:classes].sort_by(&:first).each do |key, klass| %>
  <% next unless klass[:show] %>
  <h4><a href='#<%= key %>'><%= klass[:name] %></a></h4>
  <ul>
    <% klass[:properties].each do |prop| %>
      <% next unless prop[:show] %>
      <li><a href='#<%= key %>-<%= prop[:name] %>'><%= prop[:name] %></a></li>
    <% end %>

    <% klass[:methods].each do |method| %>
      <% next unless method[:show] %>
      <li><a href='#<%= key %>-<%= method[:name] %>'><%= method[:name] %></a></li>
    <% end %>
  </ul>
<% end %>

<div><%= @doc[:info].html_safe %></div>

<hr>

<% @doc[:classes].sort_by(&:first).each do |key, klass| %>
  <% next unless klass[:show] %>
  <ul class='breadcrumb'  id='<%= key %>'>
    <li><a href='#'><%= @doc[:name] %></a><span class='divider'>/</span></li>
    <li class='active'><%= klass[:name] %></li>
  </ul>

  <div class='page-header'>
    <h1>
      <a href='#<%= key %>'><%= klass[:name] %></a><br>
      <small><%= raw klass[:short_description] %></small>
    </h1>
  </div>

  <% unless klass[:full_description].blank? %>
    <div><%= raw klass[:full_description] %></div>
  <% end %>

  <div class='accordion' id='prop-accordion'>

    <% klass[:properties].each do |prop| %>
      <% next unless prop[:show] %>
      <hr>

      <ul class='breadcrumb' id='<%= key %>-<%= prop[:name] %>'>
        <li>
          <a href='#'><%= @doc[:name] %></a>
          <span class='divider'>/</span>
        </li>
        <li>
          <a href='#<%= key %>'><%= klass[:name] %></a>
          <span class='divider'>/</span>
        </li>
        <li class='active'><%= prop[:name] %></li>
      </ul>

      <div>
        <%= raw prop[:short_description] %>
        <% unless prop[:examples].blank? %>
          <h2><%= t('apipie_dsl.examples') %></h2>
          <% prop[:examples].each do |example| %>
            <pre><%= example %></pre>
          <% end %>
        <% end %>

        <% unless prop[:returns].blank? %>
          <h2><%= t('apipie_dsl.returns') %></h2>
          <% if prop[:returns][:description] %>
            <p><%= prop[:returns][:description] %></p>
          <% end %>
          <table class='table'>
            <thead>
              <tr>
                <th><%= t("apipie_dsl.#{prop[:returns][:object][:class]}") %></th>
                <th><%= t("apipie_dsl.details") %></th>
              </tr>
            </thead>
            <tbody>
              <%= render(partial: 'returns', locals: { return_object: prop[:returns][:object] }) %>
            </tbody>
          </table>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class='accordion' id='meth-accordion'>

    <% klass[:methods].each do |method| %>
      <% next unless method[:show] %>
      <hr>

      <ul class='breadcrumb' id='<%= key %>-<%= method[:name] %>'>
        <li>
          <a href='#'><%= @doc[:name] %></a>
          <span class='divider'>/</span>
        </li>
        <li>
          <a href='#<%= key %>'><%= klass[:name] %></a>
          <span class='divider'>/</span>
        </li>
        <li class='active'><%= method[:name] %></li>
      </ul>

      <div>
        <%= raw method[:full_description] %>
        <% unless method[:examples].blank? %>
          <h2><%= t('apipie_dsl.examples') %></h2>
          <% method[:examples].each do |example| %>
            <pre><%= example %></pre>
          <% end %>
        <% end %>

        <% unless method[:raises].blank? %>
          <h2><%= t('apipie_dsl.raises') %></h2>
          <%= render(:partial => 'raises', :locals => {:raises => method[:raises]}) %>
        <% end %>

        <% unless method[:params].blank? %>
          <h2><%= t('apipie_dsl.params') %></h2>
          <table class='table'>
            <thead>
              <tr>
                <th><%= t('apipie_dsl.param_name') %></th>
                <th><%= t('apipie_dsl.description') %></th>
              </tr>
            </thead>
            <tbody>
              <%= render(:partial => 'params', :locals => {:params => method[:params]}) %>
            </tbody>
          </table>
        <% end %>

        <% unless method[:returns].blank? %>
          <h2><%= t('apipie_dsl.returns') %></h2>
          <% if method[:returns][:description] %>
            <p><%= method[:returns][:description] %></p>
          <% end %>
          <table class='table'>
            <thead>
              <tr>
                <th><%= t("apipie_dsl.#{method[:returns][:object][:class]}") %></th>
                <th><%= t('apipie_dsl.details') %></th>
              </tr>
            </thead>
            <tbody>
              <%= render(partial: 'returns', locals: { return_object: method[:returns][:object] }) %>
            </tbody>
          </table>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% unless content_for(:apipie_dsl_footer) == @doc[:copyright] %>
  <%= content_for :apipie_dsl_footer, raw(@doc[:copyright]) %>
<% end %>
